/*  discord icon hover / not anymore */
.wrapper-3kah-n .selected-1Drb7Z .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub, .peopleColumn-1wMU14 {
  background-color: #202225;
}

/*  upload modal */
.theme-dark .uploadModal-2ie9O_, .uploadModal-2ie9O_ .footer-VCsJQY.hasSpoilers-33hwf_ , .content-2hZxGK, .header-1zd7se, .theme-dark .footer-31IekZ  {
  background-color: #0B0C0D;
}


/* channel creator */
.header-1zd7se {
  margin-top: 0px;
  margin-bottom: 0px;
} 


/* server creator */
.theme-dark .footer-31IekZ , .container-36u7Lw, .container-x8Y1ix {
  background-color: #0B0C0D;
}
.base-21yXnu, .contents-3ca1mk {
  color: white;
}

/* server creator button */ 
.circleIconButton-1VxDrg.selected-2r1Hvo {
  background-color: gray;
} 
.circleIconButton-1VxDrg {
  color: gray;
}


/* Fix the channel icon being oversized in embeds and channel topics */
.topic-11NuQZ > .wrapper-1ZcZW- > .channelIcon-3I2O7O,
.embedFooterText-2Mc7H9 > .wrapper-1ZcZW- > .channelIcon-3I2O7O {
  width: calc(1.05rem * 1.05 / 1.3);
  height: 1.05rem;
}


/* Fix/Unclamp the About Me section, so it's not limited to just 6 lines. */
.clamped-2ZePhX {
  -webkit-line-clamp: 190; /*Maximum amount of characters as new lines, unset just breaks links*/
  max-height:150px;
  overflow-x: hidden;
  overflow-y:scroll;
}
.clamped-2ZePhX::-webkit-scrollbar {
  display: none;
}


/* Hide some buttons in user context menu */
#user-context-invite-to-server,
#user-context-call,
#user-context-add-friend,
#user-context-voice-move,
#user-context-invite-to-listen,
#user-context-roles,


/* Hide some buttons in server context menu */
#channel-context-invite-to-listen,
#channel-context-collapse-category,
#channel-context-collapse-all-categories,
#message-thread,
#channel-context-create-text-channel,
#guild-context-privacy,
#message-tts,
#channel-context-channel-notifications,
.threadSuggestionBar-2ufK2Z,
#channel-attach-THREAD,


/* Hide mute channel icon*/
.iconWrapper-2awDjA[aria-label*='Mute channel'],

/* hide the ? on left top */
[aria-label*='Help'],

/* text bar */
#textarea-context-sticker-suggestions,
.separator-1So4YB,
#textarea-context-spellcheck,
#textarea-context-submit-button,
#Suggestions,

[aria-label*='Open sticker picker'],
[href="/store"],
[aria-label*='Send a gift'],

#channel-attach-SLASH_COMMAND,
/* Removes Chatbox from channel that don't allow you to communicate */
.channelTextAreaDisabled-1p2fQv,


/* remove greetings */
.welcomeCTAButtonOuter-3pJkMq,


/* Removes Follow banner on bottom of channels */
.wrapper-2SplAX {display: none;}


/* Hide explore public servers button*/
.tutorialContainer-2jwoiB + .listItem-3SmSlK {
    display: none; 
}


/* Popup background color fix */
.theme-dark .root-g14mjS {
  background: #0b0c0d;
}


/* Search options popup */
.theme-dark .container-2McqkF {
    background-color: #0c0c0c;
}
.theme-dark .option-ayUoaq::after {
    background: #0c0c0c;
}
/* Search options popup calendar */
.theme-dark  .calendarPicker-sDhzdi .react-datepicker, .theme-dark .calendarPicker-sDhzdi .react-datepicker__header, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day--disabled, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day--outside-month, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled:hover {

    background-color: #0c0c0c ;
}

/* Dm friends bar */
.container-ZMc96U.themed-Hp1KC_ {
  background: #111111;
}
.theme-dark .children-3xh0VB:after {
  background: #111111;
}

/* idc im not going to copy paste {display: none;} everywhere */