/**
 * @name Darkerdiscord
 * @version 2.3.8
 * @author Kret#0591
 * @authorId 438053266585026560
 * @description 🎨 An actual Darker Discord theme 
 * @source https://github.com/kretcee/DarkerDiscord
**//**
██╗  ██╗██████╗ ███████╗████████╗
██║ ██╔╝██╔══██╗██╔════╝╚══██╔══╝
█████╔╝ ██████╔╝█████╗     ██║   
██╔═██╗ ██╔══██╗██╔══╝     ██║   
██║  ██╗██║  ██║███████╗   ██║   
╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝   ╚═╝   
**/

@import url("https://raw.githack.com/kretcee/DarkerDiscord/main/DDiscordmain.css");
@import url(https://raw.githack.com/kretcee/DarkerDiscord/main/krettweaks.css); /* my fixes */
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css); /* icons in settings */
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/components/wordmark.css'); /* old discord text */

:root {
--settingsiconssize: 18px; /*settingicons*/
--settingsiconsgap: 14px;  /*settingicons*/
--mention-hue: 10000; /* change mention bg */
--color-brand-lighter: #4373c5; /* Discord Message box */ 
--background-primary: #141414;
--background-secondary: #111111;
--background-secondary-alt: #0C0C0C;
--background-tertiary: #0D0D0D; 
--background-accent: #2B2E33; 
--background-floating: #18191c; 
--background-modifier-hover: #292C31; 
--background-modifier-active: #292C31;
--background-modifier-selected: #292C31;
--background-modifier-accent: #292C31; 
--scrollbar-thin-thumb: #202225;
--scrollbar-auto-thumb: #0C0C0C;
--scrollbar-auto-track: #292C31;
--scrollbar-auto-scrollbar-color-thumb: #202225;
--scrollbar-auto-scrollbar-color-track: #2f3136;
--channeltextarea-background: #202225;
--activity-card-background: #202225;
--background-mobile-primary: #36393f; 
--background-mobile-secondary: #2f3136;
--font-display: var(--font-primary);
--brand-experiment: #2f3136;

}
